body {
    margin: 0;
    background-color: #dddddd;
    font-family: Georgia, serif;
}

.content-box {

    width: 730px;

    margin: 50px auto;

    border: 2px solid black;

    background-color: #efefef;

    padding: 10px 28px 30px 28px;

    text-align: center;
}

.content-box h1 {
    margin-bottom: 5px;
}

.content-box p {
    text-align: left;
    font-size: 18px;
}

.social-icons {

    display: flex;
    justify-content: center;
    gap: 80px;

    margin: 20px 0;
}

.social-icons img {
    width: 60px;
    cursor: pointer;
}

h2 {
    margin-bottom: 5px;
}

.gallery-text {
    text-align: center !important;
}